@use '@/styles/base/var' as *;
@use '@/styles/base/mixins' as *;

.container_header {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 2.4rem;
        font-weight: 500;
        
        color: $text;
        text-transform: uppercase;
        letter-spacing: -1px;
        @include respond-to(mobile-large) {
            font-size: 1.6rem;
        }
    }
    .open_to_work {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: $text;
        @include respond-to(mobile-large) {
            font-size: 1.2rem;
        }
        .circle {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            background-color: $primary;
            @include respond-to(mobile-large) {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
}