@use "@/styles/base/var" as *;
@use "@/styles/base/mixins" as *;

.projectsSection {
  padding: 12rem 0 16rem;
  background: #f4f4f4;
}

.container {
  h2 {
    margin-bottom: 6rem;
    text-align: center;
    color: $secondary;
    font-size: clamp(4.8rem, 9vw, 9.2rem);
    font-family: "AppleGaramond-Light";
    font-style: italic;
    font-weight: 300;
    letter-spacing: -2px;
  }
}

.stackArea {
  min-height: 300vh;
  padding-bottom: 14rem;
}

.projectCard {
  position: sticky;
  min-height: 76vh;
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: #e9e9e9;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.08);
  // overflow: hidden;
  margin-top: 5rem;
  @include respond-to(mobile-large) {
    margin-top: 0rem;
  }
}

.badges {
  position: absolute;
  top: -4rem;
  right: 1.6rem;
  z-index: 5;
  display: flex;
  gap: 0.6rem;
}

.badge {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: #1828f0;
  color: $white;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: fit-content;
}

.content {
  padding: 7rem 4.4rem 4rem;
}

.year {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2.2rem;
}

.content h3 {
  font-size: clamp(3rem, 5vw, 4.4rem);
  font-family: 'AppleGaramond';
  font-style: italic;
  line-height: 0.98;
  color: #101010;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 1.8rem;
}

.note {
  color: rgba(0, 0, 0, 0.72);
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  @include respond-to(mobile-large) {
    font-size: 1.8rem;
    letter-spacing: 0px;
  }
}

.meta {
  padding: 1.8rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  h4 {
    margin-bottom: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.65);
    letter-spacing: 0.6px;
  }

  p {
    color: rgba(0, 0, 0, 0.82);
    font-size: 2.2rem;
    line-height: 1.2;
    max-width: 40ch;
  }
}

.mediaWrap {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 900px) {
  .projectsSection {
    padding: 8rem 0 10rem;
  }

  .stackArea {
    min-height: 300vh;
    padding-bottom: 10rem;
  }

  .projectCard {
    min-height: 72vh;
  }

  .cardGrid {
    grid-template-columns: 1fr;
    min-height: 72vh;
  }

  .content {
    padding: 6.4rem 2.2rem 2.8rem;
  }

  .content h3 {
    font-size: clamp(3.2rem, 8vw, 4.6rem);
  }

  .badges {
    top: 1.6rem;
  }
  .badge {
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.2rem;
  }
}
