@use '@/styles/base/var' as *;
@use '@/styles/base/mixins' as *;

.footer {
    background: #efefef;
    padding: 12rem 0;
}

.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small {    
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    letter-spacing: 0.8px;
}

.h2 {
    color: #151515;
    font-family: 'AppleGaramond-LightItalic';
    font-weight: 500;
    font-size: clamp(6rem, 12vw, 30rem);
    letter-spacing: -1px;
    margin-bottom: 2.8rem;
    
}

.cta {
    text-decoration: none;
    display: inline-block;
    color: $white;
    background: $secondary;
    font-size: 1.5rem;
    padding: 0.5rem 0.9rem;
    margin-bottom: 6rem;
}

.links {
    display: flex;
    gap: 6rem;

    a {
        text-decoration: none;
        color: #121212;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 8rem 0;
    }

    .container {
        min-height: auto;
    }

    .links {
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            font-size: 1.8rem;
        }
    }
}